# Ignore everything
*

# Ignore all files named .DS_Store or ending with .log
.DS_Store
*.DS_Store
**/.DS_Store
**.log

# Whitelist
!.gitignore
!README.md
!/Find-Change Queries/*
!/Image Preprocessing/*
!/Print Presets/*
!/Scripts/*

Find-Change Queries/.DS_Store

Find-Change Queries/GREP/.DS_Store

Scripts/.DS_Store
